{% extends 'core/base_generic.html' %}

{% block title %} {{ blog.title }} {% endblock title %}

{% block content %}
  <div class="container">
    {% if messages %}
    <section class="section async-remove-message">
      {% for message in messages %}
        <article class="message is-{% if message.tags %}{{ message.tags }}{% endif %} ">
          <div class="message-body">
            <p>{{ message }}</p>
          </div>
        </article>
      {% endfor %}
    </section>
  {% endif %}
  
    <section class="section">
      <div class="content is-medium">
        <div class="columns">
          <div class="column">
            <figure class="image is-128x128 mx-0">
              <img
                class="is-rounded"
                src="https://bulma.io/images/placeholders/128x128.png"
              />
            </figure>
          </div>
          <div
            class="column is-full is-flex is-flex-direction-column is-justify-content-center"
          >
            <h1 class="title">
              <a href="{% url 'blog:blog_detail' blog.slug %}">{{ blog.title }}</a>
            </h1>
            {% if blog.status == BLOG_STATUS.DRAFT %}
              <h2 class="subtitle is-6 mb-3">
                <a class="has-text-warning" href="{% url 'blog:update_blog' blog.slug %}">DRAFT</a>
              </h2>
              <h2 class="subtitle is-5 mt-0">{{ blog.created_at | date:"F d, Y" }}</h2>
            {% else %}
              <h2 class="subtitle is-5">{{ blog.created_at | date:"F d, Y" }}</h2>
            {% endif %}
            <h2 class="subtitle is-5 mb-0 my-1 has-text-link">
              {% if blog.author.first_name or blog.author.last_name %}
                @{{ blog.author.first_name }}{{ blog.author.last_name }}
              {% else %}
                @{{ blog.author.username }}
              {% endif %}
            </h2>
            <h2 class="subtitle is-6 my-0">
              *Software Developer, *Basketball Player
            </h2>
          </div>
        </div>

        <p class="mt-6">{{ blog.body }}</p>
      </div>
    </section>

    <div class="is-divider"></div>

    <section class="section">
      {% with discussion_count=blog.rel_comments.count %}
        <h2 class="title">Discussion{{ discussion_count|pluralize }} ({{ discussion_count }})</h2>
      {% endwith %}
      {% include './comment_form.html' with blog_slug=blog.slug form=comment_form %}
    </section>

    <section class="section">
      {% for comment in comments %}
        {% include './comment.html' with comment=comment%}
      {% endfor %}
    </section>
  </div>
{% endblock content %}