{% extends 'core/base_generic.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}
  <div class="container mt-6 mb-auto">
    <section class="section">
      {% if messages %}
        {% for message in messages %}
          <article class="message is-{% if message.tags %}{{ message.tags }}{% endif %}">
            <div class="message-body">
                <p>{{ message }}</p>
              </div>
          </article>
        {% endfor %}
      {% endif %}
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="card">
            <div class="card-content">
              <form action="{% url 'user:user_profile' user_info.username %}" method="POST">
                {% csrf_token %}
                <div class="field mb-5">
                  <label class="label" for="first_name">First Name</label>
                  <div class="control has-icons-left">
                    <input class="input {% if errors.first_name %}is-danger{% endif %}" type="text" name="first_name" id="first_name" value="{{ user_info.first_name }}">
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </div>
                  <p class="help is-danger">{{ errors.first_name }}</p>
                </div>

                <div class="field mb-5">
                  <label class="label" for="last_name">Last Name</label>
                  <div class="control has-icons-left">
                    <input class="input {% if errors.last_name %}is-danger{% endif %}" type="text" name="last_name" id="last_name" value="{{ user_info.last_name }}">
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </div>
                  <p class="help is-danger">{{ errors.last_name }}</p>
                </div>

                {% comment %} commented because planning to move this edit email to account view
                <div class="field mb-5">
                  <label class="label" for="email">Email</label>
                  <div class="control has-icons-left has-icons-right">
                    <input class="input" id="email" name="email" type="email" placeholder="hello@email.com" value="{{ user_info.email }}" required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                </div> {% endcomment %}

                <div class="field mb-5">
                  <label class="label" for="birth_date">Birthday</label>
                  <div class="control has-icons-left has-icons-right">
                    <input class="input" id="birth_date" name="birth_date" type="date">
                  </div>
                </div>

                <div class="field mb-5">
                  <label for="bio" class="label">Bio</label>
                  <div class="control">
                    <textarea class="textarea" name="bio" id="bio" rows="3">{{ user_info.bio }}</textarea>
                  </div>
                </div>

                <div class="field mb-5">
                  <label class="label" for="location">Location</label>
                  <div class="control  has-icons-left">
                    <input class="input" id="location" name="location" type="text" value="{{ user_info.location }}">
                    <span class="icon is-small is-left">
                      <i class="fas fa-map-marker-alt"></i>
                    </span>
                  </div>
                </div>

                <input class="button is-fullwidth is-responsive is-link has-text-weight-bold" type="submit" value="Update Profile">
                {% if next %}
                  <input type="hidden" name="next" value={{ next }}>
                {% endif %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock content %}

{% block body_styles %}
  <style>
    .datetimepicker-clear-button {
      display: flex;
      align-items: center;
    }
  </style>
{% endblock body_styles %}

{% block body_scripts %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Initialize all input of date type.
      const options = {
        type: 'date',
        color: 'link',
        showHeader: false,
        showFooter: false,
        {% if user_info.birth_date %}
          startDate: new Date({{ user_info.birth_date.year }}, {{ user_info.birth_date.month }} - 1, {{ user_info.birth_date.day }}),
        {% endif %}
      };
    
      const calendars = bulmaCalendar.attach('[type="date"]', options);

      // Loop on each calendar initialized
      calendars.forEach(calendar => {
        // Add listener to select event
        calendar.on('select', date => {
          console.log(date);
        });
      });

      // To access to bulmaCalendar instance of an element
      const element = document.querySelector('#my-element');
      if (element) {
        // bulmaCalendar instance is available as element.bulmaCalendar
        element.bulmaCalendar.on('select', datepicker => {
          console.log(datepicker.data.value());
        });
      }
    })
  </script>
{% endblock body_scripts %}