{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Blog | {% block title %}{% endblock title %}</title>
    <link rel="icon" href="{% static 'core/images/blog.png' %}">
    <link
      rel="stylesheet"
      href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'core/css/bulma-divider.css' %}" />

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
      body {
        font-family: 'Nunito', sans-serif;
      }
      nav.navbar {
        height: 6rem !important;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
          0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
      }
    </style>
  </head>

  <body>
    {% include './navbar.html' %}

    <section class="hero is-fullheight-with-navbar mt-6">
      <div class="hero-body">
        {% block content %} {% endblock content %}
      </div>
    </section>

    <footer class="footer has-background-link">
      <div class="content has-text-centered has-text-light is-size-5">
        Made with
        <svg width="32" height="32" viewBox="0 0 200 200">
          <g transform="translate(100 100)">
            <path
              transform="translate(-50 -50)"
              fill="tomato"
              d="M92.71,7.27L92.71,7.27c-9.71-9.69-25.46-9.69-35.18,0L50,14.79l-7.54-7.52C32.75-2.42,17-2.42,7.29,7.27v0 c-9.71,9.69-9.71,25.41,0,35.1L50,85l42.71-42.63C102.43,32.68,102.43,16.96,92.71,7.27z"
            ></path>
            <animateTransform
              attributeName="transform"
              type="scale"
              values="1; 1.5; 1.25; 1.5; 1.5; 1;"
              dur="1s"
              repeatCount="indefinite"
              additive="sum"
            ></animateTransform>
          </g></svg
        >combined with this powerful<i
          class="fa fa-coffee fa-lg has-text-warning-dark ml-3"
          aria-hidden="true"
        ></i>
      </div>
    </footer>

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(
          document.querySelectorAll('.navbar-burger'),
          0
        );

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
          // Add a click event on each of them
          $navbarBurgers.forEach((el) => {
            el.addEventListener('click', () => {
              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');
            });
          });
        }
      });
    </script>
  </body>
</html>
