{% extends './base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
  <section class="hero ">
    <div class="hero-body">
      <div class="container">
        {% for blog in blogs %}
          <section class="section">
            <div class="columns">
              <div class="column is-8 is-offset-2">
                <div class="content is-medium">
                  <h2 class="subtitle is-4">{{blog.created_at | date:"F d, Y"}}</h2>
                  <h1 class="title"><a href="{% url 'blog:blog_detail' blog.slug %}">{{blog.title}}</a></h1>
                  <p>{{blog.body}}</p>
                </div>
              </div>
            </div>
          </section>
          <div class="is-divider"></div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}