{% extends 'core/base.html' %}

{% block title %} Login {% endblock title %}

{% block content %}
  <div class="container mt-6 mb-auto">
    <section class="section">
      {% if messages %}
        {% for message in messages %}
          <article class="message is-{% if message.tags %}{{ message.tags }}{% endif %}">
            <div class="message-body">
                <p>{{ message }}</p>
              </div>
          </article>
        {% endfor %}
      {% elif next %}
        <article class="message is-warning">
          <div class="message-body">
            <p>
              {% if request.user.is_authenticated %}
                You are login but not allowed to access this.
              {% else %}
                You need to login.
              {% endif %}
            </p>
          </div>
        </article>
          
      {% endif %}

      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="card">
            <div class="card-content">
              <form action="{% url 'core:login' %}" method="POST">
                {% csrf_token %}
                <div class="field mb-5">
                  <label class="label" for="username">Username</label>
                  <div class="control has-icons-left">
                    <input class="input" type="text" name="username" id="username" required autofocus>
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </div>
                </div>
                <div class="field mb-5">
                  <label class="label" for="password">Password</label>
                  <div class="control has-icons-left">
                    <input class="input" type="password" name="password" id="password" required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </div>
                </div>
                <input class="button is-fullwidth is-responsive is-link has-text-weight-bold" type="submit" value="Login">
                {% if next %}
                  <input type="hidden" name="next" value={{ next }}>
                {% endif %}
              </form>
              
              <div class="container is-flex is-flex-direction-column mt-3">
                <small class="has-text-centered">
                  <a href="">Forgot password?</a>
                </small>

                <div class="is-divider"></div>
                <div class="columns">
                  <div class="column is-8 is-offset-2">
                    <a href="{% url 'core:register' %}" class="button is-fullwidth is-responsive is-success has-text-weight-bold">Create new account</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock content %}