{% load static %}

<!-- START NAV -->
<nav class="navbar is-fixed-top">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'core:front_page' %}">
        <img src="{% static 'core/images/blog.png' %}" alt="Logo" style="max-height: 3rem;" />
      </a>
      <span class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="control has-icons-left">
            <input
              class="input is-rounded"
              type="email"
              placeholder="Search"
            />
            <span class="icon is-left">
              <i class="fa fa-search"></i>
            </span>
          </div>
        </div>
        {% url 'core:front_page' as font_page_url %}
        <a href="{{ font_page_url }}" class="navbar-item {% if request.get_full_path == font_page_url %}is-active has-text-link{% endif%} is-size-5 has-text-weight-semibold">
          Home
        </a>
        {% url 'blog:create_blog' as create_blog_url %}
        <a href="{{ create_blog_url }}" class="navbar-item {% if request.get_full_path == create_blog_url %}is-active has-text-link{% endif%} is-size-5 has-text-weight-semibold">
          Create Blog
        </a>
        {% if request.user.is_authenticated %}
          {% url 'core:logout' as logout_url %}
          <a href="{{ logout_url }}" class="navbar-item {% if request.get_full_path == login_url %}is-active has-text-link{% endif%} is-size-5 has-text-weight-semibold">
            Logout
          </a>
        {% else %}
          {% url 'core:login' as login_url %}
          <a href="{{ login_url }}" class="navbar-item {% if request.get_full_path == login_url %}is-active has-text-link{% endif%} is-size-5 has-text-weight-semibold">
            Login
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
<!-- END NAV -->